@keyframes loader {
	to {transform: rotate(360deg);}
}
.loading{ pointer-events: none; }
.loading:before{
	content: '';
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 20px;
	height: 20px;
	margin-top: -10px;
	margin-left: -10px;
	border-radius: 50%;
	border-top: 2px solid #0af;
	border-right: 2px solid transparent;
	animation: loader .5s linear infinite;
}

body{
	font-family: arial;
	font-size: 13px;
}

.form label{
	display: block;
	font-size: 11px;
	font-weight: bold;
}
.form label.required:after{
	content: "*";
	color: #f00;
	vertical-align: super;
}
.form * + label{ margin-top: 10px; }
.form input,
.form textarea{
	width: 100%;
	box-sizing: border-box;
}
.form textarea{
	resize: vertical;
	max-height: 200px;
}
.form input.error,
.form textarea.error{ border-color: red; }
