@keyframes loader {
	to {transform: rotate(360deg);}
}
.loading{ pointer-events: none; }
.loading:before{
	content: '';
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 20px;
	height: 20px;
	margin-top: -10px;
	margin-left: -10px;
	border-radius: 50%;
	border-top: 2px solid #0af;
	border-right: 2px solid transparent;
	animation: loader .5s linear infinite;
}

body{
	font-family: "Lato";
	font-size: 13px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

a.button{
	padding: 3px;
	font-weight: bold;
	text-transform: uppercase;
	color: #444;
	letter-spacing: 0.5px;
	white-space: nowrap;
	cursor: pointer;
	user-select: none;
}
a.button:hover{ color: #666; }
a.button.red{ color: #d22; }
a.button.red:hover{ color: #f44; }
a.button.green{ color: #0c4; }
a.button.green:hover{ color: #0d4; }
a.button.blue{ color: #08e; }
a.button.blue:hover{ color: #0af; }
a.button > i{ margin-right: 5px; }
a.button + a.button{ margin-left: 10px; }

.form label{
	display: block;
	margin: 0px 0px 5px 5px;
	font-size: 12px;
	font-weight: bold;
}
.form label.required:after{
	content: "*";
	padding-left: 2px;
	color: #f00;
}
.form * + label{ margin-top: 10px; }
.form input,
.form textarea{
	width: 100%;
	padding: 8px 10px;
	font-family: inherit;
	font-size: inherit;
	color: #666;
	background-color: #fff;
	border: 0px none;
	border-radius: 5px;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
	box-sizing: border-box;
	outline: none;
}
.form input:active,.form input:focus,
.form textarea:active, .form textarea:focus{
	color: #000;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
}

.form textarea{
	resize: vertical;
	max-height: 200px;
}
.form input.error,
.form textarea.error{ box-shadow: 0px 0px 2px #f00; }
