@keyframes loader {
	to {transform: rotate(360deg);}
}
.loading{ pointer-events: none; }
.loading:before{
	content: '';
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 20px;
	height: 20px;
	margin-top: -10px;
	margin-left: -10px;
	border-radius: 50%;
	border-top: 2px solid #0af;
	border-right: 2px solid transparent;
	animation: loader .5s linear infinite;
}